<h1>Listing Cards</h1>

<%= will_paginate @cards %>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Deck</th>
      <th>Color</th>
      <th>Converted Mana Cost</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.title %></td>
        <td><%= card.set %></td>
        <td><%= card.color %></td>
        <td><%= card.converted_mana_cost %></td>
        <td><%= link_to 'Show', card %> | <%= link_to 'Edit', edit_card_path(card) %> |  <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @cards %>
<br>

<%= link_to 'New Card', new_card_path %>


